*{
    margin:0;
    padding:0;
    
}
body{
    background-color: rgb(241, 180, 67);
}
.tap-container-1{
    display: flex;
    width: 70%;
    background-color: rgb(145, 137, 137);
    margin: 0 auto;
    justify-content: space-between;
    padding: 10px 0;
}

.tap-container-1 div {
    width: 15%;
    text-align: center;
    border-radius: 12px;
    padding: 10px 0;
    color: white;
    
}

.tap-container-1 div:hover{
    background-color: rgb(83, 79, 79);
    cursor: pointer;
}